<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Muli|Niramit" rel="stylesheet">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="https://represent.io/alyssflynn">CV</a></li>
				<li><a href="/cv">CV (under construction)</a></li>
				<li><a href="/cv">Projects</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:alyss.flynn@me.com">email</a></li>
				<li><a href="https://github.com/alyssflynn">github.com/alyssflynn</a></li>
			</ul>
		</footer>
	</body>
</html>